/*
!/.gitignore
!/README.md
!/manifest.json

!/data/
/data/*
!/data/texts/
/data/texts/*
!/data/texts/extracted/
/data/texts/extracted/*
!/data/texts/extracted/*.json

!/docs/
/docs/*
!/docs/*.md

!/schemas/
/schemas/*
!/schemas/*.json
